


NET "B[0]" LOC = V10;
NET "B[1]" LOC = U11;
NET "B[2]" LOC = U12;
NET "B[3]" LOC = H6;
NET "A[0]" LOC = T13;
NET "A[1]" LOC = R16;
NET "A[2]" LOC = U8;
NET "A[3]" LOC = T8;
NET "rst" LOC = J15;
NET "S[0]" LOC = M13;
NET "S[1]" LOC = L16;
NET "C" LOC = R15;
NET "D" LOC = R17;
NET "OUTPUT[7]" LOC = H17;
NET "OUTPUT[6]" LOC = K15;
NET "OUTPUT[5]" LOC = J13;
NET "OUTPUT[4]" LOC = N14;
NET "OUTPUT[3]" LOC = R18;
NET "OUTPUT[2]" LOC = V17;
NET "OUTPUT[0]" LOC = U16;


NET "A[3]" IOSTANDARD = LVCMOS33;
NET "A[0]" IOSTANDARD = LVCMOS33;
NET "A[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;


NET "OUTPUT[1]" LOC = U17;


NET "A[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[3]" IOSTANDARD = LVCMOS33;
NET "C" IOSTANDARD = LVCMOS33;
NET "D" IOSTANDARD = LVCMOS33;
NET "OUTPUT[1]" IOSTANDARD = LVCMOS33;
NET "OUTPUT[0]" IOSTANDARD = LVCMOS33;
NET "OUTPUT[2]" IOSTANDARD = LVCMOS33;
NET "OUTPUT[3]" IOSTANDARD = LVCMOS33;
NET "OUTPUT[4]" IOSTANDARD = LVCMOS33;
NET "OUTPUT[5]" IOSTANDARD = LVCMOS33;
NET "OUTPUT[6]" IOSTANDARD = LVCMOS33;
NET "OUTPUT[7]" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
NET "S[0]" IOSTANDARD = LVCMOS33;
NET "S[1]" IOSTANDARD = LVCMOS33;

NET "rst" CLOCK_DEDICATED_ROUTE = FALSE;